BasedOnStyle: Chromium
Standard: c++20
IndentWidth: 4
AccessModifierOffset: -4
UseTab: Never

BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: true
  AfterStruct: true
  AfterEnum: true
  AfterClass: true
  AfterFunction: true
  AfterNamespace: false
  BeforeElse: true
  AfterCaseLabel: true
  AfterUnion: true

ColumnLimit: 160
MaxEmptyLinesToKeep: 2
BreakConstructorInitializersBeforeComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: true
AlignConsecutiveMacros:
  Enabled: true
Cpp11BracedListStyle: false
BreakBeforeBinaryOperators: NonAssignment
AllowShortFunctionsOnASingleLine: false
SortIncludes: false
ReflowComments: false
FixNamespaceComments: false
SpacesInConditionalStatement: false
SpacesInSquareBrackets: false
AllowShortIfStatementsOnASingleLine: false

AllowShortLambdasOnASingleLine: All
SpaceBeforeRangeBasedForLoopColon: true
